body {
	background-color: #000000;
}

.header h2 {
	color: #CCCCCC;
}

.header p {
	color: #DDDDDD;
}


.btn-primary {
    color: #fff;
    background-color: #BA5003;
    border-color: #BA5003;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E47D31;
    border-color: #E47D31;
}

.results {
	margin-top: 50px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.card {
	float: left;
	margin: 10px;
	width: 300px;
} 

img {
	height: 400px;
}
