body {
	background-color: #000000;
}

.display-2 {
	color: #CCCCCC;
	font-family: 'Lato', sans-serif;
}

.header p {
	color: #BBBBBB;
	font-family: 'Roboto', sans-serif;
}


.btn-primary {
    color: #fff;
    background-color: #BA5003;
	border-color: #BA5003;
	font-family: 'Roboto', sans-serif;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E47D31;
    border-color: #E47D31;
}

.watchList {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	text-align: center;
}

.watchList2 {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	text-align: center;
	color: #BA5003;
}

a {
	color: #BA5003;
}

a:hover {
	color: #E47D31;
}

.results {
	margin-top: 50px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.card {
	float: left;
	margin: 10px;
	width: 300px;
}

.card-title, .card-text {
	font-family: 'Lato', sans-serif;
}

img {
	height: 400px;
}

.addMovie {
    color: #fff;
    background-color: #BA5003;
	border-color: #BA5003;
	font-family: 'Roboto', sans-serif;
}

.addMovie:hover {
    color: #fff;
    background-color: #E47D31;
    border-color: #E47D31;
}
